<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/main :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Blog Post</title>
</head>
<body>
<section>
    <h1>Create Blog Post</h1>
    <!--/*@thymesVar id="saved" type="java.lang.Boolean"*/-->
    <div th:if="${saved != null}" class="alert alert-info">
        Your blog post has been saved.
    </div>
    <div class="pb-3">
        <a class="link-primary" href="/search">Search Blog Posts</a>
    </div>
    <form action="/favorite/edit" method="post" id="search" name="search" class="needs-validation" novalidate>
        <div class="row g-3 mb-3">
            <div class="col-sm-6">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" id="title" value="" required />
                <div class="invalid-feedback">
                    Please enter title!
                </div>
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-sm-6">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="description" id="description" required></textarea>
                <div class="invalid-feedback">
                    Please enter description!
                </div>
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-sm-6">
                <label for="article" class="form-label">Article</label>
                <textarea class="form-control" name="article" id="article"></textarea>
                <div class="invalid-feedback">
                    Please enter article!
                </div>
            </div>
        </div>
        <div class="row g-3 pt-3">
            <div class="col-sm-2">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </div>
    </form>
    <script>
      (function () {
        'use strict'
        var forms = document.querySelectorAll('.needs-validation')
        Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }
              form.classList.add('was-validated')
            }, false)
          })
      })()
    </script>
</section>
</body>
</html>