<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/main :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Micronaut Elasticsearch Demo</title>
</head>
<body>
<!--/*@thymesVar id="searchCommand" type="codes.recursive.command.SearchCommand"*/-->
<!--/*@thymesVar id="searchResponse" type="org.elasticsearch.action.search.SearchResponse"*/-->
<section>
    <h1>Micronaut Elasticsearch Demo</h1>
    <div class="pb-3">
        <a class="link-primary" href="/blogPost/edit">Create A New Post</a>
    </div>
    <form action="/search" method="post" id="search" name="search" class="needs-validation" novalidate>
        <div class="row g-3">
            <div class="col-sm-12">
                <div class="input-group has-validation">
                    <label for="searchString" class="visually-hidden">Search String</label>
                    <input th:value="${searchCommand != null} ? ${#objects.nullSafe(searchCommand.searchString, '')} : ''" type="search" class="form-control" name="searchString" id="searchString" placeholder="Search term..." value="" required />
                    <button class="btn btn-primary" type="submit">Search</button>
                    <div class="invalid-feedback">
                        Please enter a search string!
                    </div>
                </div>

            </div>
        </div>
    </form>
    <!--/*@thymesVar id="searchResponse" type="co.elastic.clients.elasticsearch.core.SearchResponse"*/-->

    <div th:if="${searchResponse != null}" class="pt-3">
        <h2>Showing <span th:text="${searchResponse.hits.total.value} < ${searchCommand.max} ? ${searchResponse.hits.total.value} : ${searchCommand.max}"></span> of
            <span th:text="${searchResponse.hits.total.value}"></span> Hits (Took <span th:text="${searchResponse.took}"></span>ms)</h2>
        <div th:each="response, status: ${searchResponse.hits.hits}">
            <!--/*@thymesVar id="response" type="co.elastic.clients.elasticsearch.core.search.Hit<BlogPost>"*/-->
            <div class="row">
                <div class="col-sm-12">
                    <p>Result: <span th:text="${status.index}"></span> (ID: <span th:text="${response.source.getId()}"></span>) |
                        <a th:href="@{'/delete/' + ${response.source.getId()}}">delete</a></p>
                    <ul>
                        <li>
                            <span th:text="${response.source.getArticle()}" class="d-none article-content"></span>
                            Title: <a href="#" class="show-offcanvas" th:text="${response.source.getTitle()}"></a>
                        </li>
                        <li>Description: <span th:utext="${response.source.getDescription()}"></span></li>
                        <!--<li>Article: <span th:utext="${response.source.getArticle()}"></span></li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-end w-75" tabindex="-1" id="postDetails" aria-labelledby="postDetailsLbl">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="postDetailsLbl">Blog Post</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" id="article-body">
            </div>
        </div>
    </div>

    <script>
      (() => {
        'use strict';
        const forms = document.querySelectorAll('.needs-validation');
        Array.prototype.slice.call(forms).forEach((form) => {
          form.addEventListener('submit', (event) => {
            if (!form.checkValidity()) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });

        document.querySelectorAll('.show-offcanvas').forEach(t => {
            t.addEventListener('click', function(evt) {
                const a = evt.currentTarget;
                const article = a.previousElementSibling.innerHTML;
                const temp = document.createElement("div");
                temp.innerHTML = article;
                const oc = bootstrap.Offcanvas.getOrCreateInstance(document.getElementById('postDetails'));
                document.getElementById('article-body').innerHTML = temp.textContent;
                oc.show();
           });
        });
      })();
    </script>
</section>

</body>
</html>